@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  .print\:block, .print\:block * {
    visibility: visible;
  }
  .print\:fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 80mm;
    margin: 0;
    padding: 5mm;
  }
}
